# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter temporary files
.ipynb_checkpoints/

# Environment variables
.env

# Streamlit secrets
.streamlit/secrets.toml

# VS Code
.vscode/